sudo: required
language: node_js
dist: trusty
node_js:
- '8'
before_install:
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
addons:
  code_climate:
    repo_token: 2fb826206cbbdeefc0bedc2e7935f1fd5e9fdca31b9290614b3d22ac469583e8
env:
  matrix:
  - BROWSER=chrome  BVER=stable
  - BROWSER=ie BVER=11 SAUCELABS=true
  global:
  - TRAVIS=true
  - SAUCE_USERNAME=adam-layout-js
  - secure: m8rS2yEDNQS0sOduiT9g4ovnGpNymEciYp7HS5x7QZJgXp0HW6/mufFSxWWO7J/8DcX5rVRPqFBmF2ThS4vQ6yACX9cVxRD3fQVzW5R4wR/aCgnU+ppV2YC0zcKXtwiiuJI+55ObZc9cHvIrb9eOWduMO2cNKsN6B7fDLpf2XJg=
